header
    {
    background-color: blue;
    color: white;
    font-size:  30px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;

    }

    .marca{
        color: black;
    }




    footer{
        background-color:blue;
        background-color: blue;
        color: white;
        font-size:  15px;
        width: 100%;
        height: 580px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }


    .ending{
        flex-direction: column;
    }

    .Catalogo{
        background-color:lightgray;
    }